%a#add{:href => "/add"} 
  %span Add new <br />audition
- @auditions.each do |audition|
  .audition
    %p<
      %span.delay= audition.when.to_delay.downcase!
    %h2= "#{audition.title.downcase!}"
   
    %div.access
      %p
        %span.when When:
        = audition.when.strftime "%A, %B %d %Y at %I:%M%p"
      %p
        %span.where Where:
        = audition.where
    %p.description= audition.description.nl2br