%a#add{:href => "/add"} 
  %span Add new <br>audition
- if @created
  .audition 
    %p#success Your audition was successfully created! You should receive a notification email soon.
- if @edited
  .audition
    %p#success Your audition was modified!
- if @duplicate
  .audition 
    %p#duplicate The audition you're trying to create already exists. Did you click on submit twice?
- if @error
  .audition 
    %p#error We're sorry, but something went wrong. Please try again, and send us an email at uclacasting@ucla.edu if things don't get better.
- if @feedback_success
  .audition 
    %p#success Thank you so much for the feedback.
- if @feedback_blank
  .audition 
    %p#duplicate Uh, did you write anything?
- if @feedback_failure
  .audition 
    %p#error We're sorry, but something went wrong. Please try again, and send us an email at uclacasting@gmail.com if things don't get better.
- if @deleted
  .audition
    %p#success You audition was successfully deleted!

- @auditions.each do |audition|
  .audition{:id => audition.sha1}
    %p.delay-wrap<
      %span.delay= audition.when.to_delay.downcase!
    %h2= "#{audition.title.downcase}"
    %a.edit{:href => "/edit?id=#{audition.sha1}"} (edit)
    %a.edit{:href => "/delete?id=#{audition.sha1}"} (delete)
    %div.access
      %p.first
        %span.when When:
        = audition.when.strftime "%A, %B %d %Y at %I:%M%p"
      %p
        %span.where Where:
        = audition.where
    %p.description= audition.description.nl2br  